@font-face {
  font-family: 'FiraCode';
  src: url('../font/FiraCode.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

*::-webkit-scrollbar-thumb {
  background-color: #999; /* Adjust the color of the thumb */
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Remove background color */
}

h2,h4{
  text-align: left;
  font-family: 'FiraCode';
}
.App {
  text-align: center;
  font-family: 'FiraCode';
  display:flex;
  justify-content:center ;
  height: 100%;
  color: white;
}
.section{
  width: 100%;
  min-height: 300px;
  margin-bottom: 50px; 
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.hide{
 
}
.about{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.section.visible{
  opacity: 1;
  transform: translateY(0);}
.body{
  position:relative;
  /**background-color: #2c3036;**/
  height: 100%;
  width: 80%;
  max-width: 1400px;
}
.home{
  margin-top: 70px;
}
.flex-j-sb{
  display: flex;
  justify-content: space-between;
}
.flex{
  display: flex;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.flex-v-sb{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.navbar{
position: fixed;
width: 80%;
max-width: 1400px;

top: 0%;
left: 50%;
height: 65px;
transform: translate(-50%, -50%);
display: flex;
background-color: black;
padding: 32px 0px 8px 0px;
justify-content: space-between;
font-size: 19px;
z-index: 1000;
align-items: flex-end;
color: white;
transition: top 0.8s ease;
}
.navbar-hide{
  position: fixed;
  width: 80%;
  max-width: 1400px;
  
  top: -500px;
  left: 50%;
  height: 65px;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: black;
  padding: 32px 0px 8px 0px;
  justify-content: space-between;
  font-size: 19px;
  z-index: 1000;
  align-items: flex-end;
  color: white;
  transition: top 1s ease;
  }
.purple{
  color: #C778DD;
}
.link{
  text-decoration: none;
  color: white;
  text-decoration: none; 
  cursor: pointer;

}
.nv-list{
  width: 550px;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button{
min-width: 110px;
max-width: 200px;
height: 40px;
font-size: medium;
padding: 8px 16px;
align-items: flex-start;
gap: 10px;
border: 1px solid var(--primary, #C778DD);
}

button:hover{
  cursor: pointer;
  background: rgba(199, 120, 221, 0.20);
  }

.intro-heading{
  color: var(--white, #FFF);
  font-family: Fira Code;
  font-size: 32px;
  max-width: 50%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.art1{
 width: 40%;
  position: relative;
}
.a1-a{
  position: absolute;
  top: 50px;
  left: 0;
}
.a1-b{
  position: absolute;
  bottom: 50px;        
  right: 0;
}
.line{
  
    border-top: 2px solid #C778DD; /* Change the color and thickness as needed */
    width: 100%;
    min-width: 500px;
    max-width: 700px;
    margin: 30px 0 0 10px; /* Adjust the margin as needed */
  
}
.v-scroll{
  height: 80vh;
  overflow: auto;
  padding-right: 30px;
}
.p-scroll{
  overflow: auto;
  padding-right: 30px;
}

.cc-container{
  width: 700px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.quote{
  border: 1px solid var(--gray, #ABB2BF);
  background: var(--background, #282C33);
  height: 100px;
  color: #FFF;
  text-align: left;

font-family: 'FiraCode';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 20px 30px 20px 30px;
}
.by{
  width: 220px;
  height: 65px;
  border: 1px solid var(--gray, #ABB2BF);
  background: var(--background, #282C33);
  color: #FFF;
  text-align: left;

font-family: 'FiraCode';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 10px 15px 10px 15px;
}
li{
  text-align: left;
  padding: 10px;
}
.p-details{
  width: 90%;
  height: 100%;
  min-height: 280px;
}
.icon-text{
  display: flex;
  align-items: center ;
  justify-content: space-between;
}

.title{
  display: flex;
  font-size: 40px;
  color: var(--white, #FFF);
font-family: 'FiraCode';
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 100%;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
}
.card{
  width: 370px;
  height:475px;
  border: 1px solid var(--gray, #ABB2BF);
  display: flex;
  flex-direction: column;
}
.card-languages{
  min-height: 52px;
max-height: 72px;
border-bottom: 1px solid var(--gray, #ABB2BF);
display: flex;
justify-content: center;
padding: 5px;
flex-direction: column;
text-align: left;
color: #ABB2BF;

}
.card-image{
  height: 180px;
  border-bottom: 1px solid var(--gray, #ABB2BF);
  display: flex;
  justify-content:center ;
  align-items: center;

}
.card-img{
  width: 130px;
}
.card-details{
  display: flex;
  flex-direction: column ;
  align-items: start;
  padding: 10px;
  justify-content: space-between;
  height: 200px;
}
.card-details>div{
  text-align: left;
}
.gray-text{
  color: #ABB2BF;

}
.sk-a2{
  width: 500px;
}
.text{
  max-width: 600px;
  text-align: left;
  margin-top: 50px;
}

.exp-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exp-op{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 190px;
  padding: 20px;
  height: 20px;
  text-align: left;
  cursor: pointer;
}
.exp-op:hover{
  border: 1px solid var(--gray, #ABB2BF);

}
.exp-details{
  width: 65%;
  display: flex;
  flex-direction: column;
align-items: flex-start;
}
.p-title{
  font-size: 25px;
  padding: 30px 0px 30px 0px;
}
.p-date{
  font-size: 18px;
  padding: 0px 0px 15px 0px;

}
.p-company{
  color: #C778DD;
  cursor: pointer;
}
.exp-selected{
  color: #C778DD;
}
.scard{
width: 178px;
height: 103px;
border: 1px solid var(--gray, #ABB2BF);
display: flex;
flex-direction: column;
align-items: start;
margin: 30px;


}

.scard-title{
  border-bottom: 1px solid var(--gray, #ABB2BF);
  width: 100%;
  text-align: left;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.scard-details{
  color:#ABB2BF ;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 10px;

}
.sk-cards{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;

}
.contact{
  border: 1px solid var(--gray, #ABB2BF);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
}
.contact>div{
  color: #ABB2BF;
}
.margin-10{
  margin: 7px;

}
.media{
  position: fixed;
  left: 50px;
  top:0px;
  transition: top 0.8s ease;

}
.media-hide{
  top: -500px;
  opacity: 0;
}
.v-line {
  height: 30vh;
  border-left: 2px solid #ABB2BF; /* Adjust the color of the vertical line */
  margin-left: 20px; /* Adjust the distance of the line from the left edge */
}


.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust the distance between the line and icons */
}
.icon {
 
  color: #fff; /* Adjust the color of the icon */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* Adjust the distance between icons */
  margin-left: 8px;
}

.hide{
  display: none;
  visibility: hidden;
}

.w-op{
  height: 100px;
  font-size: 60px;
  transition: transform 0.5s ease, font-size 0.5s ease, margin-right 0.5s ease;
  margin-bottom: 100px;
  text-align: right;
}
.w-op:hover{
  font-size: 80px;
  cursor: pointer;
  margin-right: 50px;
  transform: translateY(-10px); /* Adjust the translateY value as needed */
}
.w-op:hover .red {
  font-size: 22px;
  color: #C778DD;
}
.red{
  font-size: 15px;
  color:#C778DD;
  transition: transform 0.5s ease, font-size 0.5s ease, margin-right 0.5s ease;

}

.p-op{
  height: 100px;
  font-size: 30px;
  transition: transform 0.5s ease, font-size 0.5s ease, margin-right 0.5s ease;
  margin-bottom: 30px;
  margin-top: 35px;
  text-align: left;
}
.p-op:hover{
  font-size: 35px;
  cursor: pointer;
  margin-right: 50px;
  transform: translateY(-10px); /* Adjust the translateY value as needed */
  
}



.typing {
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

/* Optional: Set initial opacity to 0 for a fade-in effect */
.big-title{
  font-size: 80px;
  font-weight: bold;
  padding: 30px;
}
.sub-title{
  font-size:20px;
  font-weight: lighter;
  padding: 30px;
  margin-bottom: 100px;

}
.work{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.poster{
  display: flex;
  width: 100%;
  justify-content: end;
  margin-bottom: 200px;

}
.p-img{
  width: 65vw;
  margin-bottom: 50px;
}
.data-section{
  width: 80%;
  display:flex ;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.work-title{
  font-size: 50px;
  font-weight: 900;  
  margin-bottom: 70px;

}
.work-text1{
    font-size: 25px;
    margin-bottom: 50px;
    text-align: left;
}
.work-text{
  font-size: 20px;
  margin-bottom: 50px;
  text-align: left;

}
.desk-hide{
  display: none;
}
.work{
  margin-top: 300px;
}
@media screen and (max-width: 1024px ) {
  .skill-display{
    display: none;
  }
}
@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 1500px) 
 {
  .body{
    width: 90%;
  }
  .desk-hide{
    display: block;
  }
  h2{
    font-size: 35px;
  }
  h4{
    font-size: 25px;
  }
  .intro-heading{
    width: 100%;
    min-width:336px

  }
  .navbar{
    position: fixed;
    width: 100%;
    max-width: 1400px;
    top: 0%;
    left: 50%;
    height: 65px;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: black;
    padding: 32px 0px 8px 0px;
    justify-content: center;
    font-size: 19px;
    z-index: 1000;
    align-items: flex-end;
    color: white;
    transition: top 0.8s ease;
  }
  #introbox{
    width: 100%;
  }
  .section{
    width: 100% !important;
    min-width:336px;
    margin-bottom: 20px;
  }
  .quote, .by {
    font-size: 18px;
    padding: 10px 15px 10px 15px;;
  }
  .title{
    font-size: 30px;
  }
  .contact{
    border: none;
    margin-top: 30px;
  }
  .big-title{
    font-size: 50px;
    padding: 10px;
  }
  .sub-title{
    font-size: 20px;
    padding: 10px;

  }
  .p-img{
    width: 100%;
  }
  
  .work-title{
    font-size:38px ;
  }
  .work-text1{
    font-size: 18px;
  }
  .work-text{
    font-size: 15px;
  }
  .data-section{
    width: 100%;
  }
  .work{
    margin-top: 100px;
  }
  .mobile-exp{
    display: flex;
    flex-direction: column;
  }
  .exp-menu{
    display: flex;
    flex-direction: row;
  }
  .exp-details{
    width: 100%;
  }
  .p-details{
    overflow-y: auto;
    height: 280px;
    font-size: 12px;
  }
  .p-title {
    height: 50px;
    font-size: 18px;
    text-align: left;
  }
  .title{
    font-size: 28px;
  }
  .card {
    width: 300px;
  }
  .cards {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  }
  
.mobile-card-desc{
  width: 290px;
}
.mobile-canter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sk-cards{
  display: flex;
  flex-direction: row; /* Chan  ge to row to allow horizontal layout */
  overflow-y: auto; /* Hide vertical overflow */
  max-height: 300px;
  width: 100%;
}
.sk-cards-wrapper{
  display: flex;
  flex-direction: column;
}
.mobile-hide{
  display: none;
}

.next-button{
  margin: 10px;
}

}